In [427]:
import pandas as pd

data_climate = pd.read_csv('data_fortaleza-CE.csv')
data_climate.head()

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A305,12/05/2019,13,30.4,30.4,29.0,67,73.0,64.0,23.5,24.1,22.2,1009.7,1010.1,1009.7,2.9,140,7.6,1524.0,0.6
1,A305,12/05/2019,11,28.4,NaN,NaN,76,NaN,NaN,23.7,NaN,NaN,1009.6,NaN,NaN,2.3,152,NaN,171.6,0.0
2,A305,12/05/2019,14,30.9,31.0,29.6,58,67.0,58.0,21.7,23.4,21.7,1009.1,1009.7,1009.1,3.0,139,8.3,1643.0,0.0
3,A305,12/05/2019,12,29.0,29.7,28.3,72,76.0,68.0,23.5,24.3,22.8,1010.0,1010.0,1009.6,2.8,137,6.7,1319.0,0.0
4,A305,12/05/2019,15,32.1,32.3,30.9,55,60.0,53.0,22.1,23.4,21.2,1008.3,1009.1,1008.2,2.8,148,8.2,2150.0,0.0

In [428]:
data_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 20 columns):
codigo_estacao      1905 non-null object
data                1905 non-null object
hora                1905 non-null int64
temp_inst           1905 non-null float64
temp_max            1904 non-null float64
temp_min            1904 non-null float64
umid_inst           1905 non-null int64
umid_max            1904 non-null float64
umid_min            1904 non-null float64
pto_orvalho_inst    1905 non-null float64
pto_orvalho_max     1904 non-null float64
pto_orvalho_min     1904 non-null float64
pressao             1905 non-null float64
pressao_max         1904 non-null float64
pressao_min         1904 non-null float64
vento_direcao       1905 non-null float64
vento_vel           1905 non-null int64
 vento_rajada       1904 non-null float64
radiacao            1905 non-null float64
precipitacao        1905 non-null float64
dtypes: float64(15), int64(3), object(2)
memory usage: 297.8+ KB

In [429]:
data_climate.columns = ['codigo_estacao','data','hora','temp_inst','temp_max','temp_min','umid_inst','umid_max','umid_min','pto_orvalho_inst','pto_orvalho_max','pto_orvalho_min','pressao','pressao_max','pressao_min','vento_direcao','vento_vel','vento_rajada','radiacao','precipitacao']
data_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 20 columns):
codigo_estacao      1905 non-null object
data                1905 non-null object
hora                1905 non-null int64
temp_inst           1905 non-null float64
temp_max            1904 non-null float64
temp_min            1904 non-null float64
umid_inst           1905 non-null int64
umid_max            1904 non-null float64
umid_min            1904 non-null float64
pto_orvalho_inst    1905 non-null float64
pto_orvalho_max     1904 non-null float64
pto_orvalho_min     1904 non-null float64
pressao             1905 non-null float64
pressao_max         1904 non-null float64
pressao_min         1904 non-null float64
vento_direcao       1905 non-null float64
vento_vel           1905 non-null int64
vento_rajada        1904 non-null float64
radiacao            1905 non-null float64
precipitacao        1905 non-null float64
dtypes: float64(15), int64(3), object(2)
memory usage: 297.8+ KB

In [430]:
data_for_knn = pd.DataFrame(data_climate[['hora','temp_inst','umid_inst','pto_orvalho_inst','pressao','vento_rajada','vento_direcao','vento_vel']])
data_for_knn.head()

,hora,temp_inst,umid_inst,pto_orvalho_inst,pressao,vento_rajada,vento_direcao,vento_vel
0,13,30.4,67,23.5,1009.7,7.6,2.9,140
1,11,28.4,76,23.7,1009.6,NaN,2.3,152
2,14,30.9,58,21.7,1009.1,8.3,3.0,139
3,12,29.0,72,23.5,1010.0,6.7,2.8,137
4,15,32.1,55,22.1,1008.3,8.2,2.8,148

In [431]:
data_for_knn.shape

(1905, 8)

In [432]:
len_validation = len(data_for_knn)
len_validation

1905

In [433]:
set_validation = data_for_knn[:381]

set_test_train = data_for_knn[381:]
print(set_validation.shape)
print(set_test_train.shape)

(381, 8)
(1524, 8)

In [434]:
x = set_test_train[['vento_rajada','vento_direcao']]
y = set_test_train[['vento_vel']]
x_validation = set_validation[['vento_rajada','vento_direcao']]
y_validation = set_validation[['vento_vel']]
print(x.shape)
print(y.shape)
print(x_validation.shape)
print(y_validation.shape)

(1524, 2)
(1524, 1)
(381, 2)
(381, 1)

In [435]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def knn_test(x,y):
    train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,
                                                shuffle=True)
    knn = KNeighborsClassifier(n_neighbors = 100)
    knn.fit(train_x,train_y)
    predicts = knn.predict(test_x)
    acc = accuracy_score(test_y,predicts)
    return acc
                                                                    
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(1219, 6)
(305, 6)
(1219, 1)
(305, 1)

In [440]:
import warnings
warnings.filterwarnings('ignore')
acc = []
for i in range(100):
    acc.append(knn_test(x,y)*100) 
print('A melhor resultado é-> %.2f%%' % max(acc))

A melhor resultado é-> 6.56%