In [40]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
import math
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

#to set dimensions of the figures
plt.rcParams['figure.figsize'] = (15,7)

x_high_corralations = pd.read_csv('/home/archie/Arquivos/climate/Datasets/x_high_corralations.csv')
y_high_corralations = pd.read_csv('/home/archie/Arquivos/climate/Datasets/y_high_corralations.csv')

x = x_high_corralations.as_matrix()
y = y_high_corralations.as_matrix()

x = np.delete(x,0,1)
y = np.delete(y,0,1)

#Creating a dataset for store rmse and r2 results
values_high_corralations = pd.DataFrame(columns=['i','j','rmse','r2'])
values_high_corralations_matrix = pd.DataFrame(columns=['i','j','rmse','r2'])

In [41]:
def test_mlp(x,y,i,j):
    warnings.filterwarnings('ignore')

    train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2)

    MLP_reg = MLPRegressor(hidden_layer_sizes = (i*30,j*30), activation='tanh',
                      verbose=False, warm_start=True,
                      max_iter = 300)

    MLP_reg.fit(train_x,train_y)#Kernel default : RBF 
    predicts = MLP_reg.predict(test_x)

    rmse = math.sqrt(mean_squared_error(test_y,predicts))
    score_r2 = r2_score(test_y,predicts)

    return i*30,j*30,rmse,score_r2

def run_test_mlp(interval,dataset,x,y):
    #To mesure time processing
    import time 
    inicio = time.time()
    a = 0
    #Begin cycle for
    for i in range(1,interval+1):
        for j in range(1,interval+1): 
            dataset.loc[a] = test_mlp(x,y,i,j)
            print(dataset.r2[a])
            a = a + 1
    #End cycle for
    
    fim = time.time()
    print(fim-inicio)
    return dataset

In [42]:
values_high_corralations = run_test_mlp(2,values_high_corralations,x_high_corralations,y_high_corralations)

-18.03584019594507
-13.32029926741525
-17.87174008279726
-12.903377124676929
16.080968618392944

In [43]:
values_high_corralations_matrix = run_test_mlp(2,values_high_corralations_matrix,x,y)

-6.734242098936055
-2.3838501217456876
-7.318712251861468
-2.4857579998964736
17.221016883850098

In [44]:
values_high_corralations.to_csv('/home/archie/Arquivos/climate/Datasets/values_high_corralations.csv')
values_high_corralations = pd.read_csv('/home/archie/Arquivos/climate/Datasets/values_high_corralations.csv')

values_high_corralations_matrix.to_csv('/home/archie/Arquivos/climate/Datasets/values_high_corralations_matrix.csv')
values_high_corralations_matrix = pd.read_csv('/home/archie/Arquivos/climate/Datasets/values_high_corralations_matrix.csv')

In [45]:
values_high_corralations.head()

   Unnamed: 0     i     j         rmse         r2
0           0  30.0  30.0  1073.739345 -18.035840
1           1  30.0  60.0  1018.579456 -13.320299
2           2  60.0  30.0  1067.022362 -17.871740
3           3  60.0  60.0  1017.540555 -12.903377

In [46]:
values_high_corralations_matrix.head()

   Unnamed: 0     i     j       rmse        r2
0           0  30.0  30.0  81.339498 -6.734242
1           1  30.0  60.0  53.827355 -2.383850
2           2  60.0  30.0  85.528807 -7.318712
3           3  60.0  60.0  53.651556 -2.485758