In [18]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import pandas
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

data_climate = pd.read_csv('data_fortaleza-CE.csv')
data_climate.head()

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A305,12/05/2019,13,30.4,30.4,29.0,67,73.0,64.0,23.5,24.1,22.2,1009.7,1010.1,1009.7,2.9,140,7.6,1524.0,0.6
1,A305,12/05/2019,11,28.4,NaN,NaN,76,NaN,NaN,23.7,NaN,NaN,1009.6,NaN,NaN,2.3,152,NaN,171.6,0.0
2,A305,12/05/2019,14,30.9,31.0,29.6,58,67.0,58.0,21.7,23.4,21.7,1009.1,1009.7,1009.1,3.0,139,8.3,1643.0,0.0
3,A305,12/05/2019,12,29.0,29.7,28.3,72,76.0,68.0,23.5,24.3,22.8,1010.0,1010.0,1009.6,2.8,137,6.7,1319.0,0.0
4,A305,12/05/2019,15,32.1,32.3,30.9,55,60.0,53.0,22.1,23.4,21.2,1008.3,1009.1,1008.2,2.8,148,8.2,2150.0,0.0

In [19]:
data_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 20 columns):
codigo_estacao      1905 non-null object
data                1905 non-null object
hora                1905 non-null int64
temp_inst           1905 non-null float64
temp_max            1904 non-null float64
temp_min            1904 non-null float64
umid_inst           1905 non-null int64
umid_max            1904 non-null float64
umid_min            1904 non-null float64
pto_orvalho_inst    1905 non-null float64
pto_orvalho_max     1904 non-null float64
pto_orvalho_min     1904 non-null float64
pressao             1905 non-null float64
pressao_max         1904 non-null float64
pressao_min         1904 non-null float64
vento_direcao       1905 non-null float64
vento_vel           1905 non-null int64
 vento_rajada       1904 non-null float64
radiacao            1905 non-null float64
precipitacao        1905 non-null float64
dtypes: float64(15), int64(3), object(2)
memory usage: 297.8+ KB

In [20]:
data_climate.columns = ['codigo_estacao','data','hora','temp_inst','temp_max','temp_min','umid_inst','umid_max','umid_min','pto_orvalho_inst','pto_orvalho_max','pto_orvalho_min','pressao','pressao_max','pressao_min','vento_direcao','vento_vel','vento_rajada','radiacao','precipitacao']
data_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 20 columns):
codigo_estacao      1905 non-null object
data                1905 non-null object
hora                1905 non-null int64
temp_inst           1905 non-null float64
temp_max            1904 non-null float64
temp_min            1904 non-null float64
umid_inst           1905 non-null int64
umid_max            1904 non-null float64
umid_min            1904 non-null float64
pto_orvalho_inst    1905 non-null float64
pto_orvalho_max     1904 non-null float64
pto_orvalho_min     1904 non-null float64
pressao             1905 non-null float64
pressao_max         1904 non-null float64
pressao_min         1904 non-null float64
vento_direcao       1905 non-null float64
vento_vel           1905 non-null int64
vento_rajada        1904 non-null float64
radiacao            1905 non-null float64
precipitacao        1905 non-null float64
dtypes: float64(15), int64(3), object(2)
memory usage: 297.8+ KB

In [ ]:
'''
                                    USING KNN ALGORITHM(CLASSIFICATION)

'''

In [21]:
data_for_knn = pd.DataFrame(data_climate[['hora','temp_inst','umid_inst','pto_orvalho_inst','pressao','vento_rajada','vento_direcao','vento_vel']])
data_for_knn.head()

,hora,temp_inst,umid_inst,pto_orvalho_inst,pressao,vento_rajada,vento_direcao,vento_vel
0,13,30.4,67,23.5,1009.7,7.6,2.9,140
1,11,28.4,76,23.7,1009.6,NaN,2.3,152
2,14,30.9,58,21.7,1009.1,8.3,3.0,139
3,12,29.0,72,23.5,1010.0,6.7,2.8,137
4,15,32.1,55,22.1,1008.3,8.2,2.8,148

In [22]:
data_for_knn.shape

(1905, 8)

In [23]:
len_validation = len(data_for_knn)
len_validation

1905

In [24]:
set_validation = data_for_knn[:381]

set_test_train = data_for_knn[381:]
print(set_validation.shape)
print(set_test_train.shape)

(381, 8)
(1524, 8)

In [25]:
x = set_test_train[['vento_rajada','vento_direcao']]
y = set_test_train[['vento_vel']]
x_validation = set_validation[['vento_rajada','vento_direcao']]
y_validation = set_validation[['vento_vel']]
print(x.shape)
print(y.shape)
print(x_validation.shape)
print(y_validation.shape)

(1524, 2)
(1524, 1)
(381, 2)
(381, 1)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def knn_test(x,y):
    train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,
                                                shuffle=True)
    knn = KNeighborsClassifier(n_neighbors = 100)
    knn.fit(train_x,train_y)
    predicts = knn.predict(test_x)
    acc = accuracy_score(test_y,predicts)
    return acc
                                                                    
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

NameError: name 'train_x' is not defined

In [29]:
import warnings
warnings.filterwarnings('ignore')
acc = []
for i in range(100):
    acc.append(knn_test(x,y)*100) 
print('A melhor resultado é-> %.2f%%' % max(acc))

A melhor resultado é-> 5.25%

In [ ]:
'''
                                    USING RNN -> LSTM ALGORITHM(NEURAL NETWORKS) 
'''

In [30]:
#fix random seed for reproducibility
numpy.random.seed(7)

In [31]:
#using neural networks recurrents
#network short memory with LSTM, she use backpropagation through time and have memory block instead neruons.
dataset = pd.DataFrame(data_climate[['hora','temp_inst','umid_inst','pto_orvalho_inst','pressao','vento_rajada','vento_direcao','vento_vel']])
dataset = dataset.values
dataset = dataset.astype('float32')
dataset

array([[ 13. ,  30.4,  67. , ...,   7.6,   2.9, 140. ],
       [ 11. ,  28.4,  76. , ...,   nan,   2.3, 152. ],
       [ 14. ,  30.9,  58. , ...,   8.3,   3. , 139. ],
       ...,
       [  9. ,  23.3,  83. , ...,   6.1,   2.3, 156. ],
       [ 17. ,  29.4,  50. , ...,   9.7,   4.2, 113. ],
       [  0. ,  25.9,  80. , ...,   4.7,   1.3, 105. ]], dtype=float32)

In [34]:
#To reduce the data from [0,1] scale with pre-preprocessing
#Normalize the dataset
scaler = MinMaxScaler(feature_range=(0,1))
dataset = scaler.fit_transform(dataset)
dataset

array([[0.5652174 , 0.8380954 , 0.5       , ..., 0.601626  , 0.5178572 ,
        0.34317344],
       [0.47826087, 0.64761925, 0.673077  , ...,        nan, 0.4107143 ,
        0.38745385],
       [0.6086957 , 0.8857143 , 0.32692313, ..., 0.6585366 , 0.53571427,
        0.33948338],
       ...,
       [0.39130434, 0.16190481, 0.8076923 , ..., 0.47967476, 0.4107143 ,
        0.402214  ],
       [0.73913044, 0.7428572 , 0.17307693, ..., 0.7723577 , 0.75      ,
        0.24354245],
       [0.        , 0.40952396, 0.75      , ..., 0.3658536 , 0.23214285,
        0.21402214]], dtype=float32)

In [36]:
#split into train and test sets
train_size = int(len(dataset)*0.67)
test_size = len(dataset) - train_size
train,test = dataset[0:train_size,:], dataset[train_size:len(dataset),:]
print(len(train),len(test))

1276 629